@use "../../styles/partials/variables.scss" as *;

.radio-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0.5rem;

  &__input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;

    &:checked + .radio-button__details {
      border-color: $salmon;
      color: $salmon;
      box-shadow: 0 2px 25px rgba(255, 55, 0, 0.656);
    }
  }

  &__details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 8rem;
    border: 3px solid $white;
    border-radius: 25px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
